# flask environment variables
FLASK_APP=main.py
FLASK_ENV=development
FLASK_SECRET_KEY=change_me
FLASK_TESTING=False

# publisher environment variables
PR_BASE_DIR=/data/TIFF
PR_IS_TO_GET_DATA_FROM_DB=True
PR_LOGGING_LEVEL=WARNING
PR_TASK_CHUNKS=10

# PostgreSQL environment variables
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=6000
PGDATABASE=cdsr_catalog

# RabbitMQ environment variables
RT_USER=guest
RT_PASSWORD=guest
RT_HOST=inpe_cdsr_rabbitmq
RT_PORT=5672

# Celery environment variables
CELERY_TASK_QUEUE=processing
