# Flask environment variables
FLASK_APP=publisher
FLASK_ENV=development
FLASK_SECRET_KEY=change_me
FLASK_TESTING=False

# Publisher environment variables
PR_BASE_DIR=/data/TIFF
PR_LOGGING_LEVEL=WARNING

# PostgreSQL environment variables
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=6000
PGDATABASE=cdsr_catalog

# RabbitMQ environment variables
RT_USER=guest
RT_PASSWORD=guest
RT_HOST=inpe_cdsr_rabbitmq
RT_PORT=5672

# Celery environment variables
CELERY_CHUNKS_PER_TASKS=100
