FLASK_APP=main.py
FLASK_ENV=development
FLASK_SECRET_KEY=change_me
IS_TO_GET_DATA_FROM_DB=True
# base directory to search assets
BASE_DIR=/data/TIFF
LOGGING_LEVEL=INFO
# PostgreSQL environment variables
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=6000
PGDATABASE=cdsr_catalog
